<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <script src="{{ url_for('static', filename='index.js') }}"></script>
        <title>8th Light Code Challenge</title>
    </head>
    <body>
        
        <h1>Basic App Using the Google Books API</h1>

        <form id="form">
            <input id="book" autocomplete="off" autofocus placeholder="Title or Author" type="text">
            <input type="submit" value="Get Books">
        </form>

        <br>

        <table id="result">
        </table>

    </body>
</html>